################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/rsp_tcp/x64/Debug/RSP_tcp.tlog
